html {
  margin: 0; 
  padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.logo {
	width: 50vw;
	position: fixed;
 	top: 50%;
  	left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.topblock {


}

.topblockimage {
	width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.textfade {
	background-color: none;
  position:absolute;
  padding-right: 150px;
  padding-top: 70px;
  right: 0;
  top: 0;
  z-index: 2;

}

.bigthree1 {
	font-family: 'Biryani';
	font-weight: 900;
	font-size: 50pt;
	animation: pulse1 7s infinite;
	margin: 0;
	margin-bottom: -50px;
	padding: 0;
	text-align: center;
	color: white;
}

@keyframes pulse1 {
  0% {
	opacity: 0;
  }
  10% {
    opacity: 1;
  }
  75% {
  	opacity: 1;
  }
  100% {
  	opacity: 0;
  }
}

.bigthree2 {
	font-family: 'Biryani';
	font-weight: 900;
	font-size: 50pt;
	animation: pulse2 7s infinite;
	margin: 0;
	margin-bottom: -50px;
	padding: 0;
	text-align: center;
	color: white;
}

@keyframes pulse2 {
  0% {
	opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
  	opacity: 1;
  }
  75% {
  	opacity: 1;
  }
  100% {
  	opacity: 0;
  }
}

.bigthree3 {
	font-family: 'Biryani';
	font-weight: 900;
	font-size: 50pt;
	animation: pulse3 7s infinite;
	margin: 0;
	margin-bottom: -50px;
	padding: 0;
	text-align: center;
	color: white;
}

@keyframes pulse3 {
  0% {
	opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
  	opacity: 0;
  }
  30% {
  	opacity: 1;
  }
  80% {
  	opacity: 1;
  }
  100% {
  	opacity: 0;
  }
}


.intro {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -100px;
}

.intro > p  {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14pt;
  text-align: justify;

}

.intro > p > b {
  font-size: 20pt;
}

.titlebar {
  width: 100%;
  height: 60px;
  background-color: #ce0909;
  box-shadow: 0px 0px 15px #888888;
}

.titlebar > p {
  font-family: 'Biryani';
  font-weight: 700;
  font-size: 20pt;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 10px;
  z-index: 1;
  margin-bottom: 0;
  margin-top: 60px;

}

.secondblock {
  width: 100%;
  height: 760px;
  background-color: #ce0909 .5;
  margin-top: -20px;
  z-index: -1;

}


.iconblock {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;

}
.oericon, .mentalhealthicon, .transparencyicon {
  height: 150px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 0px;
}

.oericon, .transparencyicon {
  height: 120px;
}

.transparencyicon{
  margin-bottom: 10px;
}

.secondblock > .oer > .textblock {
  width: 75%;
  background-color: none;
  padding-top: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}
.secondblock > .oer > .textblock > p > b {
  font-weight: 700;
  font-family: 'Nunito';
  font-size: 20pt;
  margin-bottom: 0;
}

.secondblock > .oer > .textblock > p {
  color: black;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 12pt;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
}

.secondblock > .mentalhealth > .textblock  {
  width: 75%;
  background-color: none;
  padding-top: 0px;
  margin-top: 20px;
   margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.secondblock > .mentalhealth > .textblock > p > b {
  font-weight: 700;
  font-family: 'Nunito';
  font-size: 20pt;
  margin-bottom: 0;
}

.secondblock > .mentalhealth > .textblock > p {
  color: black;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 12pt;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
}

.secondblock > .transparency > .textblock {
  width: 75%;
  background-color: none;
  padding-top: 0px;
  margin-top: 20px;
   margin-left: auto;
  margin-right: auto;
}
.secondblock > .transparency > .textblock > p > b {
  font-weight: 700;
  font-family: 'Nunito';
  font-size: 20pt;
  margin-bottom: 0;
}

.secondblock > .transparency > .textblock > p {
  color: black;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 12pt;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
}

a {
  color: black;
  text-decoration: underline;
   -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
}

a:hover {
  color: #ce0909;
}



.thirdblock {
  width: 100%;
  height:650px;

}

.statue {
  width: 1200px;
  float: right;
}
.experience {
 position: absolute;
  text-align: right;
  width: 95%;
  margin-top: 25px;
}
.experience > p {
  font-family: "Nunito";
  font-size: 14pt;
}

.fourthblock {
  width: 100%;
  position: absolute;
  height: auto;

}
.votinginfo {
  font-family: "Nunito";
  font-size: 16pt;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.votinginfo > b {
  text-align: center;
}











@media screen and (max-width: 3000px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 100pt;
  }

  .statue {
    width: 3000px;
  }
}


@media screen and (max-width: 2400px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 80pt;
  }

  .statue {
    width: 2400px;
  }
}

@media screen and (max-width: 1800px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 70pt;
  }

  .statue {
    width: 1800px;
  }
}

@media screen and (max-width: 1600px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 60pt;
  }
    .secondblock {
    height: auto;
  }

  .statue {
    width: 1600px;
  }

}

@media screen and (max-width: 1275px) {
  .textfade {
    padding-top: 30px;
    padding-right: 100px;
  }

  .secondblock {
    height: auto;
  }

  .fourthblock {
    margin-top: -140px;
  }

  .statue {
    width: 1275px;
  }
}

@media screen and (max-width: 1200px) {
  .textfade {
  padding-right: 80px;
  padding-top: 15px;
  }

  
}

@media screen and (max-width: 1100px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 50pt;
  }

  .intro {
    margin-top: -80px;
  }

  .iconblock {
    width: 100%;
    margin-top: 20px;
  }

  .oericon, .mentalhealthicon, .transparencyicon {
    height: 100px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .statue {
    width: 1100px;
  }

  .experience > p {
  font-size: 12pt;
  }

  .fourthblock {
    margin-top: -180px;
  }


}

@media screen and (max-width: 900px) {
  .textfade {
  padding-right: 30px;
  padding-top: 15px;
  }

  .intro > p {
    text-align: justify;
  }

  .intro > p > b {
    font-size: 18pt;
    text-align: left;
  }

  .statue {
    width: 900px;
  }

  .experience {
    margin-top: 0;
  }

  .experience > p {
    line-height: 20px;
  }

  .experience > p > b {
    font-weight: 700;
  }

  .fourthblock {
    margin-top: -280px;
  }
}

@media screen and (max-width: 800px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 40pt;
    text-align: right;
    padding-top: 12px;
  }

  .textfade {
    padding-top: 5px;
  }

  .intro {
    margin-top: -50px;
    width: 80%;
  }

  .intro > p > b {
    text-align: center;
  }

  .statue {
    width: 800px;
    opacity: .5;
  }

  .experience > p {
    font-size: 10pt;
    line-height: inherit;
  }

  .fourthblock {
    margin-top: -310px;
  }

  .titlebar > p {
    font-size: 14pt;
  }
}

@media screen and (max-width: 700px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 35pt;
    text-align: right;
    padding-top: 12px;
  }

  .textfade {
    padding-top: 5px;
  }

  .intro {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .intro > p {
    font-size: 12pt;
  }

  .intro > p > b {
    font-size: 16pt;
    text-align: left;
  }

  .statue {
    padding-left: 80px;
    overflow-y: hidden; 
  }
}


@media screen and (max-width: 600px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 30pt;
    text-align: right;
    padding-top: 12px;
    margin-top: 10px;
  }

  .textfade {
    margin-top: -15px;
  }


}

@media screen and (max-width: 550px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 25pt;
    text-align: right;
    padding-top: 12px;
  }
  .textfade{
    margin-top: -5px;
    padding-right: 50px;
  }

   .intro > p > b {
    font-size: 14pt;
  }

  .oer, .mentalhealth, .transparency {
    width: 100%;
    margin: 0 0 0 0;
  }

  .secondblock > .oer > .textblock {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
   
  }

   .secondblock > .mentalhealth > .textblock {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

   .secondblock > .transparency > .textblock {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .secondblock {
    height: auto;
  }

  .titlebar > p {
    font-size: 14pt;
    padding-top: 15px;
  }
}

@media screen and (max-width: 500px) {
 .intro > p > b {
    font-size: 13pt;
  }
  .textfade {
    padding-right: 25px;
    margin-top: -15px;
  }

  .intro {
    margin-top: -30px;
  }

  .oericon, .mentalhealthicon, .transparencyicon {
    height: 70px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .transparencyicon {
    margin-bottom: 0;
  }



}

@media screen and (max-width: 450px) {
  .intro {
    margin-top: -25px;
  }
}


@media screen and (max-width: 425px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 20pt;
    text-align: right;
    padding-top: 20px;
  }

  .textfade {
    margin-top: -25px;
  }

  .intro > p > b {
    font-size: 18pt;
    line-height: 25px;
    text-align: left;
  }

   .titlebar > p {
    font-size: 12pt;
    padding-top: 20px;
  }

  .oericon, .mentalhealthicon, .transparencyicon {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .secondblock > .oer > .textblock > p > b {
  font-size: 18pt;
}
 .secondblock > .mentalhealth > .textblock > p > b {
  font-size: 18pt;
}
 .secondblock > .transparency > .textblock > p > b {
  font-size: 18pt;
}
}

@media screen and (max-width: 375px) {
  .bigthree1, .bigthree2, .bigthree3 {
    font-size: 18pt;
    text-align: right;
    padding-top: 20px;
  }

  .textfade {
    margin-top: -20px;
    padding-right: 20px;
  }

  .topblock {
    width: 100%;

  }

  .oericon, .mentalhealthicon {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .transparencyicon {
    padding-top: 10px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

   .titlebar > p {
    font-size: 10pt;
    padding-top: 20px;
  }

}